

// .prueba:nth-child(2){
//     flex: column;
// }
p{
    margin-bottom: 0px !important;
}

@keyframes animationHIn{
    100%{
        transform: translateX(30px);
        }
}
@keyframes animationHOut{
    0%{
        transform: translateX(30px);
        }
    100%{
        transform: translateX(0px);
        }
}

.animationHeadersIn{
    font-size: 40px;
    margin-bottom: 0px;
    animation: animationHIn 0.4s forwards 0s ease-in;
}

.animationHeadersOut{
    font-size: 40px;
    margin-bottom: 0px;
    animation: animationHOut 0.4s forwards 0s ease-in;
}