/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@350&family=Source+Code+Pro:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

h3{
    font-family: 'Heebo', sans-serif;
    font-weight: 40;
}

p{
    font-family: 'Raleway', sans-serif;
}
